*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#eef3fb;
    color:#222;
}

/* HERO */

.hero{
    background:linear-gradient(135deg,#2563eb,#60a5fa);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:55px;
    margin-bottom:25px;
}

.hero p{
    font-size:22px;
    max-width:900px;
    margin:auto;
}

.btn{
    display:inline-block;
    margin-top:40px;
    padding:15px 35px;
    background:white;
    color:#2563eb;
    text-decoration:none;
    border-radius:12px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}

/* PLANES */

.cards{
    max-width:1200px;
    margin:70px auto;
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.card{
    width:500px;
    background:white;
    border-radius:20px;
    padding:35px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h2{
    font-size:34px;
    margin-bottom:20px;
}

.card h3{
    font-size:32px;
    color:#2563eb;
    margin-bottom:25px;
}

.card h3 span{
    font-size:18px;
    color:#555;
}

.card ul{
    margin-left:25px;
    margin-bottom:30px;
    line-height:2;
    font-size:20px;
}

.card p{
    font-size:20px;
    margin-bottom:25px;
}

.card strong{
    display:block;
    margin-top:25px;
    font-size:24px;
    color:#0a7b30;
}

/* FOOTER */

footer{
    margin-top:70px;
    background:#111827;
    color:white;
    text-align:center;
    padding:60px 20px;
}

footer h2{
    margin-bottom:20px;
}

footer p{
    margin:10px;
    font-size:20px;
}

/* MÓVIL */

@media(max-width:1100px){

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:18px;
}

.card{
    width:90%;
}

}
